.nav-header nav, a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    font-size: 1.3rem;
    height: 5rem;
    background-color: greenyellow;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.nav-header, nav, a:hover{
    color: #0d6efd;
}