<form (ngSubmit)="salvar()">
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Nome:</label>
        <input type="text" class="form-control" name="exampleInputText1" aria-describedby="emailHelp"
            [(ngModel)]="produto.nome">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Valor:</label>
        <input type="number" class="form-control" name="exampleInputNumer1" [(ngModel)]="produto.valorProduto">
    </div>
    <div class="mb-3">
        <LAbel>Tamanho:</LAbel>
        <select class="form-control" name="tamanho" [(ngModel)]="produto.tamanho">
            <option value="PEQUENA">PEQUENA</option>
            <option value="MEDIA">MEDIA</option>
            <option value="GRANDE">GRANDE</option>
            <option value="GIGANTE">GIGANTE</option>
          </select>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>